VITE_APP_NAME="Sipolin"
VITE_API_BASE_URL="https://api.sipolin.com"
VITE_SOCKET_URL="https://api.sipolin.com"
VITE_DOWNLOAD_ANDROID_URL="https://play.google.com/store/apps/details?id=com.sipolin.app"
VITE_DOWNLOAD_IOS_URL="https://apps.apple.com/app/sipolin"
